name = "Bend"
grammar = "bend"
path_suffixes = ["bend"]
line_comments = ["#"]
autoclose_before = ";:.,=}])>"
brackets = [
    { start = "{", end = "}", close = true, newline = true },
    { start = "[", end = "]", close = true, newline = true },
    { start = "(", end = ")", close = true, newline = true },
    { start = "\"", end = "\"", close = true, newline = false, not_in = [
        "string",
    ] },
    { start = "'", end = "'", close = false, newline = false, not_in = [
        "string",
    ] },
]
